<div class="relative bg-white">
    <div class="mx-auto px-4 smpx-6">
        <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">

            <!--Store Name/Store Logo-->
            <div class="flex justify-start lg:flex-1 trumcate">
                <h1 class="text-xl font-bold truncate">{{shop.name | upcase}}</h1>
            </div>


            <!--Navigation Menu-->
            <!--Cart Icons / Account Links if Enabled-->

        </div>
    </div>
</div>